<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <!-- Link al CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'crud/css/style.css' %}">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--  Titulo de la pagina  -->
    <title>{% block tittle %}{% endblock %} | K-Pro PetStore</title>

</head>

<body class="d-flex flex-column min-vh-100">

    <script src="{% static '/core/js/api_clima.js' %}"></script>
    <script src="{% static '/core/js/api_dogo.js' %}"></script>
    <script src="{% static '/core/js/base_form_validation.js' %}"></script>


    <!-- Barra Información -->
    <nav class="navbar navbar-expand navbar-light py-0" style="background-color: #0144c9;">
        <div class="container-fluid p-0">
            <div class="navbar-brand nav-item active py-0">
                <span class="py-1" style="font-size: .9rem; color: whitesmoke;">Contactanos</span>
                <span class="navbar-text py-1 ml-2" style="font-size: .8rem; color: whitesmoke;"><i class="bi bi-whatsapp"></i> +56 9 999 999</span>
            </div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active justify-content-right ml-auto">
                    <span class="navbar-text py-1" style="font-size: .9rem;">
                        <a style="color: whitesmoke;" href="https://www.instagram.com/" class="nav-link py-0"><i class="bi bi-instagram"></i></a>
                    </span>
                    <span class="navbar-text py-1" style="font-size: .9rem; ">
                        <a style="color: whitesmoke;" href="https://www.facebook.com/" class="nav-link py-0"><i class="bi bi-facebook"></i></a>
                </li>
                
            </ul>
        </div>
    </nav>

    <!--  Barra de Navegacion Principal  -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand" href="{% url 'home' %}">K-Pro PetStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavBar01" aria-controls="NavBar01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Barra de Busqueda -->
            <div class="collapse navbar-collapse" id="NavBar01">
                <form class="form-inline justify-content-center mx-auto my-2">
                    <input class="form-control text-center" type="search" placeholder="¿Qué buscas?">
                    <button class="btn btn-danger mx-2 my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                
                <ul class="navbar-nav text-center mt-lg-0">

                    {% if request.session.usuario %}
                        <li class="nav-item active">
                            <a class="nav-link active px-2 py-1"
                        type="button" data-toggle="modal" data-target="#CarritoModdal"
                        href="#" style="font-size: 1.3rem;" >Bienvenido {{request.session.usuario.first_name}}</a>
                        </li>
                    {% endif %}

                    <li class="nav-item active">
                        <a class="nav-link active px-2 py-1"
                        type="button" data-toggle="modal" data-target="#CarritoModdal"
                        href="#"><i class="bi bi-cart" style="font-size: 1.5rem;" ></i><span class="mx-2 d-md-none d-lg-none d-xl-none">Carrito de Compras</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link active px-2 py-1"
                        type="button" data-toggle="modal" data-target="#UsuarioModdal"
                        href="#"><i class="bi bi-person-circle" style="font-size: 1.5rem;"></i><span class="mx-2 d-md-none d-lg-none d-xl-none">Usuario</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <!-- Barra de Categorias -->
    <nav class="navbar navbar-expand navbar-light bg-light" >
        <div class="container-fluid p-0">
            <ul class="navbar-nav">
                <li class="nav-item active">    
                    <a class="nav-link py-0" href="{% url 'productos' %}">Productos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link py-0" href="{% url 'nosotros' %}">Nosotros</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link py-0" href="{% url 'contacto' %}">Contacto</a>
                </li>
            </ul>
        </div>
        <div id="weather" class="d-flex" style="font-size: 1rem;">
            <img class="d-inline inline-block m-0" id="wicon" src="" alt="Weather icon" style="height: 2rem; width: auto;">
            <p class="d-inline m-0" id="cityname"></p>
            <p class="temp d-inline m-0"></p>
        </div>
    </nav>

    <!-- Contenido Principal -->
    {% block content %}{% endblock %}
    
    <!-- Footer -->
    <footer class="bg-primary text-center mt-auto" style="color: white;">
        <div class="container p-4">
            <section class="mb-4">
                <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="bi bi-facebook"></i></a>
  
                <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="bi bi-instagram"></i></i></a>
  
                <a class="btn btn-primary btn-floating m-1" style="background-color: #25D366" href="#!" role="button"><i class="bi bi-whatsapp"></i></a>

                <a id="doggobtn" class="btn btn-primary btn-floating m-1 rainbow-bg" href="#!" type="button" data-toggle="modal" data-target="#ApiModal" role="button"><i class="bi bi-question-diamond-fill"></i></a>
            </section>
            <section class="mb-4">
                <p>
                    K-Pro PetStore es una tienda online creada con la finalidad de ayudar a una organización sin fines de lucro.
                </p>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        </div>
    </footer>

    <!--  Modal Carrito  -->
    <div class="modal fade" id="CarritoModdal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Carrito Compra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="card container-flex my-1">
                        <div class=" d-flex">
                            <div class="form-inline w-100">
                                <div class=""> 
                                    <a href="producto1.html">
                                        <img src="https://t1.ea.ltmcdn.com/es/posts/7/1/3/tipos_de_collares_para_perros_3317_orig.jpg" width="200"> 
                                    </a>
                                </div>
                                <div class="text-center mx-auto"> 
                                    <span class="">
                                    </span> 
                                    <span>Collar</span>
                                    <span>$5.990</span>
                                    <div class="buttons">
                                        <button     class="btn btn-danger cart-button btn-block">Quitar del Carrito</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card container-flex my-1">
                        <div class=" d-flex">
                            <div class="form-inline w-100">
                                <div class=""> 
                                    <a href="producto2.html">
                                        <img src="https://petmas.masfinca.com/wp-content/uploads/2018/04/classic3_1024x1024.png" width="200"> 
                                    </a>
                                </div>
                                <div class="text-center mx-auto"> 
                                    <span class="">
                                    </span> 
                                    <span>KONG</span>
                                    <span>$11.990</span>
                                    <div class="buttons">
                                        <button class="btn btn-danger cart-button btn-block">Quitar del Carrito</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-center align-middle">
                            <span>TOTAL A PAGAR:</span>
                            <span>$17.980</span>
                        </div>
                        <div class="col-6">
                            <div class="buttons">
                                <button class="btn btn-success cart-button btn-block">Pasar por Caja</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--  Modal Usuario  -->
    <div class="modal fade" id="UsuarioModdal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {% if not request.session.usuario %}
                        <h5 class="modal-title" id="exampleModalLabel">
                        Login
                        </h5>
                    {% else %}
                        <h5 class="modal-title" id="exampleModalLabel">
                         {{request.session.usuario.first_name}} {{request.session.usuario.last_name}}
                        </h5>
                    {% endif %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <div class="row">

                        {% if not request.session.usuario %}
                        <!--  Registro  -->
                        <div class="col-sm-6 mt-2">
                            <h5>Registrate para tener tu cuenta</h5>
                            <form action="login/register" method="POST">
                                {% csrf_token %}
                                <div class="mb-2 row">
                                    <label for="first_name" class="col-12 col-form-label font-weight-bold">Nombre</label>
                                    <div class="col-12">
                                        <input class="form-control" type="text" name="first_name" id="first_name" maxlength=30 required>
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label for="last_name" class="col-12 col-form-label font-weight-bold">Apellido</label>
                                    <div class="col-sm 9">
                                        <input class="form-control" type="text" name="last_name" id="last_name" maxlength=30 required>
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label for="email" class="col-12 col-form-label font-weight-bold">Correo</label>
                                    <div class="col-sm 9">
                                        <input class="form-control" type="email" name="email" id="email" maxlength=100 required>
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label for="password" class="col-12 col-form-label font-weight-bold">Contraseña</label>
                                    <div class="col-sm 9">
                                        <input class="form-control" type="password" name="password" id="password" required>
                                    </div>                                 
                                </div>
                                <div class="mb-2 row">
                                    <label for="password_confirm" class="col-12 col-form-label font-weight-bold">Confirmar Contraseña</label>
                                    <div class="col-12">
                                        <input class="form-control" type="password" name="password_confirm" id="password_confirm" required>
                                    </div>
                                    <ul class="font-italic">
                                        <li>La contraseña debe tener al entre 8 y 16 caracteres</li>
                                        <li>Al menos un dígito</li>
                                        <li>Al menos una minúscula y al menos una mayúscula</li>
                                        <li>NO puede tener otros símbolos.</li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                    <div class="row d-flex justify-content-center">
                                        <input class="btn btn-primary" type="submit" value="Registrarse">
                                    </div>
                                </div>
                            </form>
                        </div>


                        <!-- Inicio de Sesion -->
                        <div class="col-sm-6 mt-2">
                            <h5>Inicia sesión para ver tu cuenta</h5>
                            <form action="login/login" method="POST">
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label for="email" class="col-12 col-form-label font-weight-bold">Correo</label>
                                    <div class="col-sm 9">
                                        <input class="form-control" type="email" name="email_login" id="email_login" maxlength=100 required>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="password" class="col-12 col-form-label font-weight-bold">Contraseña</label>
                                    <div class="col-sm 9">
                                        <input class="form-control" type="password" name="password_login" id="password_login" required>
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center">
                                    <input class="btn btn-primary" type="submit" value="Iniciar Sesión">
                                </div>
                            </form>
                        </div>
                        {% else %}
                        <form action="login/logout">
                            <div class="text-center">
                                <input type="submit" class="btn btn-outline-danger" value="Cerrar Sesión">
                            </input>
                            </div>
                        </form>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--  Modal API Doggo -->
    <div class="modal fade" id="ApiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DOGGO TIME</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">

                    <div class="card container-flex my-1">
                        <div class=" d-flex">
                            <div class="form-inline w-100">
                                <img class="img-fluid" style="height: auto;" id="dog-img" src=""> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JQuery y Popper Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>