
{% extends 'core/base.html' %}

{% load static %}
 

{% block content %}
    <div class="card-group">
        <div class="card">
        <img class="card-img-top" src="https://img.freepik.com/foto-gratis/retrato-hombre-atractivo-satisfecho-contento-feliz-camisa-moda-mezclilla-que-muestra-su-dedo-indice-esquina-superior-derecha_295783-1217.jpg?w=360" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Bernardo Soto</h5>
            <p class="card-text">Fundador de K_Pro_Petstore</p>
        </div>
        </div>
        <div class="card">
        <img class="card-img-top" src="https://img.freepik.com/foto-gratis/hombre-serio-aislado-sobre-fondo-naranja-persona-segura-mirando-camara_482257-25138.jpg?w=360" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ignacio Zamorano</h5>
            <p class="card-text">Contador de K_Pro_Petstore</p>
        </div>
        </div>
        <div class="card">
        <img class="card-img-top" src="https://us.123rf.com/450wm/vadymvdrobot/vadymvdrobot1905/vadymvdrobot190504750/124365588-imagen-de-joven-confundido-posando-aislado-sobre-fondo-de-pared-amarilla-apuntando-.jpg?ver=6" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Benjamin Herrera</h5>
            <p class="card-text">marketing de K_Pro_Petstore</p>
        </div>
        </div>
    </div>

{% endblock %}