
{% extends 'crud/base.html' %}

{% load static %}
{% block tittle %}Lista de Productos{% endblock %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <h2 class="col-12 p-2 text-primary">DETALLE PRODUCTO</h2>
    </div>
</div>

<div class="container mt-4 mb-4">
    <div class="row mb-3">
        <h3>Producto: {{producto.nombre}}</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% if producto.imagen %}
            <img class="img-thumbnail" src="{{producto.imagen.url}}" alt="{{producto.id_producto}}">
            {% else %}
            <img class="img-thumbnail" src="{% static 'crud/img/folder-x.svg' %}" alt="Not found">
            {% endif %}
            <div class="row mt-2 d-flex justify-content-center">
                <a class="btn btn-outline-dark mx-1" href="{% url 'product-edit' producto.id_producto  %}">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a class="btn btn-outline-danger mx-1 modal-borrar" data-toggle="modal" data-bs-toggle="modal" data-target="#staticBackdrop" data-bs-target="#staticBackdrop" data-href="{% url 'product-delete' producto.id_producto  %}">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </div>
        <div class="col-md-8 ps-1">
            <ul class="list-unstyled">
            </li>
                <li class="mb-2">ID: <p class="font-weight-bold">{{producto.id_producto}}</p>
                <li class="mb-2">Marca: <p class="font-weight-bold">{{producto.marca}}</p>
                </li>
                <li class="mb-2">Precio: <p class="font-weight-bold">${{producto.precio}}</p></li>
                <li class="mb-2">Stock: <p class="font-weight-bold">{{producto.stock}}</p></li>
                <li class="mb-2">Descripción: <p class="font-weight-bold">{{producto.descripcion}}</p>
                <li class="mb-2">Registrado: <p class="text-muted fst-italic font-weight-bold">{{producto.created_at | date:'d-m-Y'}}</p></li>
                <li class="mb-2">Última actulización: <p class="text-muted fst-italic font-weight-bold">{{producto.updated_at | date:'F d, Y H:m'}}</p></li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">ALERTA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que quieres eliminar el producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <a id="confirmar-borrar" class="btn btn-success" href="#">Eliminar</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'crud/js/modal.js' %}"></script>

{% endblock %}