
{% extends 'crud/base.html' %}

{% load static %}
{% block tittle %}Lista de Productos{% endblock %}

{% block content %}


<div class="container text-center">
    <div class="row">
        <h5 class="col-12 p-2 text-primary">LISTA DE PRODUCTOS</h5>
    </div>
</div>

<div class="container-fluid mt-4 mb-4">

    {% if 'SUCCESS' in request.GET %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Acción realizada!
    </div>
    {% endif %}
    {% if 'FAIL' in request.GET %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Error al agregar al realizar la acción!
    </div>
    {% endif %}

    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Precio</td>
                        <td>Stock</td>
                        <td>Imagen</td>
                        <td>Descripción</td>
                        <td>Marca</td>
                        <td>Opciones</td>
                    </tr>
                </thead>
                <tbody>
                    {% for p in productos %}
                    <tr>
                        <td>
                            <a href="/crud/{{p.id_producto}}">{{p.id_producto}}</a>
                        </td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.precio}}</td>
                        <td>{{p.stock}}</td>
                        {% if p.imagen %}
                        <td><img class="img-producto" src="{{p.imagen.url}}" alt="{{p.id_producto}}"></td>
                        {% else %}
                        <td><img class="img-producto" src="{% static 'crud/img/folder-x.svg' %}" alt="{{p.id_producto}}">
                        </td>
                        {% endif %}
                        <td>{{p.descripcion}}</td>
                        <td>{{p.marca}}</td>
                        <td>
                            <a class="btn btn-outline-dark" href="/crud/{{p.id_producto}}">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            <a class="btn btn-outline-dark" href="/crud/{{p.id_producto}}/edit">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
  
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

